body{
    margin: 0;
    padding: 0;

}
.grid_menu{
    padding: 5px;

   }
.navbar_menu{
    padding: 5px;
    margin: auto;
     background-color: rgba(0, 0, 0, 0.603);
    border-bottom-width: 10px;
     border-bottom: 2px solid;
     border-color:rgba(251, 253, 252, 0.575);
     border-spacing: 40px;
    width: 100%;
    font-size: calc(10px + 1vmin);
   }

   .navbar{
       color:white !important;
      opacity: 0.9;
    background-color: rgba(0, 0, 0,0) !important;
   }
   .nav-link {
    color: rgb(255, 255, 255) !important;
   text-align: end;
   font-family: Arial;
   font-size: calc(10px + 2vmin);
    }
    .nav-link:hover{
        font-size: calc(10px + 2.5vmin);
    }
    .navbar-nav{
        margin-left: auto;
    }
.welcome_text{
    width: 60%;
    background-color: rgba(7, 7, 7, 0.603);
    color: rgb(252, 247, 247);
    border-radius: 3px;
    padding: 30px;
}
.izquierda{
    width: 1.5%;
    margin-right: 8%;
    background-color: orangered !important;
}
