body{
    margin: 0;
    padding: 0;

}
.grid_menu{
    padding: 5px;

   }
.navbar_menu{
    padding: 5px;
    margin: auto;
  
     background-color: rgba(0, 0, 0,0);
    border-bottom-width: 10px;
     border-bottom: 2px solid;
     border-color: black;
    width: 100%;
<<<<<<< HEAD
    font-size: calc(10px + 1vmin);
=======

>>>>>>> 3e01a299e73c2f7b6b55c11d3d555e2c50bfd61d
   }
  
   .navbar{
       color:black !important;
      opacity: 0.9;
    background-color: rgba(0, 0, 0,0) !important;
   }
   .nav-link {
    color: black !important;
   text-align: end;
   font-weight: bold;
   font-size: calc(10px + 2vmin);
    }
    .nav-link:hover{
        font-size: calc(10px + 2.5vmin);
    }
    .navbar-nav{
        margin-left: auto;
    }
