body{
    margin: 0;
    padding: 0px 10px 10px 10px;
   
}
.grid_menu{
    padding: 5px;
   
   }
.navbar_menu{
    padding: 5px;
    margin: auto;
     background-color: rgba(0, 0, 0,0);
    width: 100%;
   
   }
   .navbar{
       color: white !important;
      opacity: 0.9;
    background-color: rgba(12, 12, 12,0.8) !important;
   }
   .nav-link {
    color: white !important;
   text-align: end;
   font-weight: bold;
    }
    .navbar-nav{
        margin-left: auto;
    }
   
   